@model IEnumerable<Virtual_School_Register.Models.Annoucement>

@{
    ViewData["Title"] = "Annoucements";
}

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-left">
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:250px">
                    @if (item.Title.Length > 50)
                    {
                        <b>@Html.Raw(item.Title.Substring(0, 50) + "...")</b>
                    }
                    else
                    {
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                    }
                </td>
                <td style="width: 300px">
                    @if (item.Content.Length > 60)
                    {
                        @Html.Raw(item.Content.Substring(0, 60) + "...")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Content)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.AnnoucementId">Details</a>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.AnnoucementId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AnnoucementId">Delete</a>

                    @*<a asp-action="Edit" asp-route-id="@item.AnnoucementId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AnnoucementId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AnnoucementId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
