@model IEnumerable<Virtual_School_Register.Models.Annoucement>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Announcements"];
}

<p class="d-flex justify-content-center">
    <a class="btn btn-success" asp-action="Create">@Localizer["Add announcement"]</a>
</p>

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["Content"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["User"]
            </th>
            <th>
                @Localizer["Action"]
            </th>
        </tr>
    </thead>
    <tbody class="text-left">
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:200px">
                    @if (item.Title.Length > 50)
                    {
                        <b>@Html.Raw(item.Title.Substring(0, 50) + "...")</b>
                    }
                    else
                    {
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                    }
                </td>
                <td style="width: 300px">
                    @if (item.Content.Length > 60)
                    {
                        @Html.Raw(item.Content.Substring(0, 60) + "...")
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Content)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                    @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.AnnoucementId">@Localizer["Details"]</a>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.AnnoucementId">@Localizer["Edit"]</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AnnoucementId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
