@model IEnumerable<Virtual_School_Register.Models.Question>

@{
    ViewData["Title"] = "Questions";
    var where = ViewBag.BackTo as Test;
}

<h3 class="d-flex justify-content-center text-center">
    Test:&nbsp;
    <b>
        @where.Title
    </b>
</h3>
<hr />
@if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
{
    <p class="d-flex justify-content-center text-center">
        @Html.ActionLink("Add question", "Create", "Questions", new { testId = @where.TestId }, new { @class = "btn btn-success" })
    </p>
}
else
{
    <br />
}
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Answers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <b>A:</b> @Html.DisplayFor(modelItem => item.AnswerA)
                    <br />
                    <b>B:</b> @Html.DisplayFor(modelItem => item.AnswerB)
                    <br />
                    <b>C:</b> @Html.DisplayFor(modelItem => item.AnswerC)
                    <br />
                    <b>D:</b> @Html.DisplayFor(modelItem => item.AnswerD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.QuestionId">Details</a>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center text-center">
    @Html.ActionLink("Back", "Index", "Tests", null, new { @class = "btn btn-primary" })
</div>