@model IEnumerable<Virtual_School_Register.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.InboxMessage</h1>

<hr />
<div class="thead-dark row">
    <div class="col-md-2">
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </div>
    <div class="col-md-8">

    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-action="Index">Received</a>
        <a class="btn btn-primary" asp-action="IndexSent">Sent</a>
    </div>
</div>
<br />

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @ViewBag.UserType
                @*@Html.DisplayNameFor(model => model.User)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.RecipientId)
                </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (@ViewBag.UserType == "Recipient")
                    {
                        @Html.DisplayFor(modelItem => item.RecipientId)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.User.Name)
                        <text>&nbsp;</text>
                        @Html.DisplayFor(modelItem => item.User.Surname)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*            <td>
                        @Html.DisplayFor(modelItem => item.RecipientId)
                    </td>*@
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>*@

                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.MessageId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
