@model Virtual_School_Register.ViewModels.UserDetailsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User details"];
}

<div class="d-flex justify-content-center text-center">
    <div>
        <h1>@Localizer["User details"]</h1>
        <br />

        <table class="table table-striped text-left" style="width:500px">
            <tbody>
                <tr>
                    <td style="width:150px">
                        <b>@Localizer["ID"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Id)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Login"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Name"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Surname"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Surname)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Sex"]</b>
                    </td>
                    <td>
                        @if (Model.Sex == "M")
                        {
                            @Localizer["Man"]
                        }
                        else
                        {
                            @Localizer["Woman"]
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Email"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Phone number"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Birth date"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BirthDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Adress"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Adress)
                    </td>
                </tr>
                @if (Model.Type == "Uczen" && Model.ParentId == null)
                {
                    <tr>
                        <td>
                            <b>@Localizer["Parent"]</b>
                        </td>
                        <td>
                            @Localizer["No parent assigned"]
                        </td>
                    </tr>
                }
                else if (Model.Type == "Uczen")
                {
                    <tr>
                        <td>
                            <b>@Localizer["Parent"]</b>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ParentId)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <b>@Localizer["User type"]</b>
                    </td>
                    <td>
                        @switch (Model.Type)
                        {
                            case "Admin":
                                @Html.DisplayFor(modelItem => Model.Type);
                                break;

                            case "Nauczyciel":
                                @Localizer["Teacher"]
                                break;

                            case "Rodzic":
                                @Localizer["Parent"]
                                break;

                            case "Uczen":
                                @Localizer["Student"]
                                break;
                        }
                    </td>
                </tr>
                @if (Model.Type == "Uczen" && Model.Class == null)
                {
                    <tr>
                        <td>
                            <b>@Localizer["Class"]</b>
                        </td>
                        <td>
                            @Localizer["No class assigned"]
                        </td>
                    </tr>
                }
                else if (Model.Type == "Uczen")
                {
                    <tr>
                        <td>
                            <b>@Localizer["Class"]</b>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Class.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <div>
            <a class="btn btn-primary" asp-action="Index">@Localizer["Back"]</a>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
        </div>
    </div>
</div>