@model IEnumerable<Virtual_School_Register.ViewModels.UsersController.UserIndexViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Users"];
}

<p class="d-flex justify-content-center">
    <a class="btn btn-success" asp-action="Create">@Localizer["Create user"]</a>
</p>

@*<p>
        <a class="btn btn-success" asp-action="Create">Create user</a>
    </p>*@

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Localizer["Login"]
                @*@Html.DisplayNameFor(model => model.UserName)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>*@
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Surname"]
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>*@
            <th>
                @Localizer["Email"]
            </th>
            <!--<th>
                Phone number-->
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
            <!--</th>-->
            @*<th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>*@
            <th>
                @Localizer["Parent"]
            </th>
            <th>
                @Localizer["User type"]
            </th>
            <th>
                @Localizer["Class"]
            </th>
            <th>
                @Localizer["Action"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => user.Login)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Surname)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>*@
                <td>
                    @if (user.Type != "Uczen")
                    {
                        <img src="~/Images/close.png" alt="x" />
                        @*@Html.DisplayName("===")*@
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => user.Parent)
                    }
                </td>
                <td>
                    @switch (user.Type)
                    {
                        case "Admin":
                            @Html.DisplayFor(modelItem => user.Type);
                            break;

                        case "Nauczyciel":
                            @Localizer["Teacher"]
                            break;

                        case "Rodzic":
                            @Localizer["Parent"]
                            break;

                        case "Uczen":
                            @Localizer["Student"]
                            break;
                    }
                </td>
                <td>
                    @if (user.Type != "Uczen")
                    {
                        <img src="~/Images/close.png" alt="x" />
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => user.Class)
                    }
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@user.Id">@Localizer["Details"]</a>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@user.Id">@Localizer["Edit"]</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@user.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
