@model Virtual_School_Register.Models.File
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["File details"];
    var where = ViewBag.BackToSubject as int?;
}

<div class="d-flex justify-content-center text-center">
    <div>
        <h1>@Localizer["File details"]</h1>
        <br />

        <table class="table table-striped text-left" style="width:500px">
            <tbody>
                <tr>
                    <td>
                        <b>@Localizer["Name"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Description"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Date"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Date)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Localizer["Subject"]</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Subject.Name)
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            @Html.ActionLink(Localizer["Back"].Value.ToString(), "Index", "Files", new { subjectId = @where }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<!--<h1>Details</h1>

<div>
    <h4>File</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div>-->
@*<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.FileId">Edit</a>*@
@*<a class="btn btn-primary" asp-action="Index">Back to List</a>*@
<!--@Html.ActionLink("Back to List", "Index", "Files", new { subjectId = @where }, new { @class = "btn btn-primary" })
</div>-->
