@model IEnumerable<Virtual_School_Register.ViewModels.TestViewModel>

@{
    ViewData["Title"] = "Tests";
}

@*<h1>Index</h1>*@

@if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
{
    <p class="d-flex justify-content-center text-center">
        <a class="btn btn-success" asp-action="Create">Add test</a>
    </p>
}
else
{
    <br />
}
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Class
                @*@Html.DisplayNameFor(model => model.ClassName)*@
            </th>
            <th>
                Subject
                @*@Html.DisplayNameFor(model => model.SubjectName)*@
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @*@Html.ActionLink("Questions", "Index", "Questions", new { testId = item.TestId }, new { @class = "btn btn-outline-info" })*@
                    @*<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.TestId">Details</a>*@
                    @if (User.IsInRole("Uczen"))
                    {
                        @Html.ActionLink("Begin Test", "BeginTest", "Tests", new { testId = item.TestId, myPoints = 0, myQuestion = 0 }, new { @class = "btn btn-outline-success" })
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
                    {
                        @Html.ActionLink("Questions", "Index", "Questions", new { testId = item.TestId }, new { @class = "btn btn-outline-info" })

                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.TestId">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.TestId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
