@model IEnumerable<Virtual_School_Register.Models.Test>

@{
    ViewData["Title"] = "Tests";
}

@*<h1>Index</h1>*@

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLessonId)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductingLessonId)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.TestId">Details</a>
                    @*@Html.ActionLink("Files", "Index", "Files", new { subjectId = item.SubjectId }, new { @class = "btn btn-outline-info" })*@
                    @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
                    {
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.TestId">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.TestId">Delete</a>
                    }
                    @*<a asp-action="Edit" asp-route-id="@item.TestId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TestId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TestId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
