@model IEnumerable<Virtual_School_Register.Models.ConductingLesson>

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<br />
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            @if (!User.IsInRole("Nauczyciel"))
            {
                <th>
                    Teacher
                    @*@Html.DisplayNameFor(model => model.User)*@
                </th>
            }
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                @if (!User.IsInRole("Nauczyciel"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                        @Html.DisplayFor(modelItem => item.User.Surname)
                    </td>
                }
            <td>
                @if (User.IsInRole("Nauczyciel"))
                {
                    @Html.ActionLink("Begin lesson", "Create", "Lessons", new { conductingLesson = item.ConductingLessonId }, new { @class = "btn btn-outline-success" })
                    @*<a class="btn btn-outline-success" asp-controller="Lessons" asp-action="Create" asp-route-id="@item.ConductingLessonId">Begin lesson</a>*@
                }
                else
                {
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ConductingLessonId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ConductingLessonId">Remove teacher</a>
                }

                @*<a asp-action="Edit" asp-route-id="@item.ConductingLessonId">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.ConductingLessonId">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.ConductingLessonId">Remove teacher</a>*@
            </td>
            </tr>
        }
    </tbody>
</table>
