@model IEnumerable<Virtual_School_Register.Models.Subject>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Subjects"];
}

@if (User.IsInRole("Admin"))
{
    <p class="d-flex justify-content-center">
        <a class="btn btn-success" asp-action="Create">@Localizer["Add subject"]</a>
    </p>
}
else
{
    <br />
}

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["Subject name"]
            </th>
            <th>
                @Localizer["Content"]
            </th>
            <th>
                @Localizer["Action"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink(Localizer["Files"].Value.ToString(), "Index", "Files", new { subjectId = item.SubjectId }, new { @class = "btn btn-outline-info" })
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.SubjectId">@Localizer["Details"]</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.SubjectId">@Localizer["Edit"]</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.SubjectId">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
