@model IEnumerable<Virtual_School_Register.ViewModels.SubjectGradeViewModel>

@{
    ViewData["Title"] = "Grades";
    var thisUser = ViewBag.ThisUser as User;
}


<h3>
    Grades:
    <b>
        @thisUser.Name
        @thisUser.Surname
    </b>
</h3>
<hr />

@*<p>
            <a asp-action="Create">Create New</a>
    </p>*@

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                Subject
                @*@Html.DisplayNameFor(model => model.SubjectName)*@
            </th>
            <th>
                Grades
                @*@Html.DisplayNameFor(model => model.Evaluations)*@
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @foreach (var grade in item.Evaluations)
                    {
                        <a class="btn btn-outline-primary" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
                {
                    <td>
                        @Html.ActionLink("Add grade", "CreateFromClasses", "Evaluations", new { userId = @thisUser.Id, subjectId = item.SubjectId }, new { @class = "btn btn-outline-success" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
{
    @Html.ActionLink("Back to List", "ClassStudents", "Classes", new { classId = thisUser.ClassId }, new { @class = "btn btn-primary" })
}