@model IEnumerable<Virtual_School_Register.ViewModels.SubjectGradeViewModel>

@{
    ViewData["Title"] = "Grades";
    var thisUser = ViewBag.ThisUser as User;
}


<h3>
    Grades:
    <b>
        @thisUser.Name
        @thisUser.Surname
    </b>
</h3>
<hr />

<form asp-action="Index">
    <div class="row justify-content-center">
        <input value="@thisUser.Id" name="userId" hidden />
        @*@Html.TextBox("userId", @thisUser.Id, new { type = "hidden" })*@
        <h5 class="my-auto">Date from:</h5>
        <div class="col-md-2">
            @Html.TextBox("startDate", @ViewBag.StartDate, "{0:yyyy.MM.dd}", new { type = "date", @class = "form-control" })
            @*<input type="date" name="startDate" class="form-control" value="@ViewBag.StartDate">*@
        </div>
        <h5 class="my-auto">To:</h5>
        <div class="col-md-2">
            @Html.TextBox("endDate", @ViewBag.EndDate, "{0:yyyy.MM.dd}", new { type = "date", @class = "form-control" })
            @*<input type="date" name="endDate" class="form-control" value="@ViewBag.EndDate">*@
        </div>
        <input class="btn btn-primary" type="submit" value="Filter" />
    </div>
</form>
<br />

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                Subject
            </th>
            <th>
                Grades
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @foreach (var grade in item.Evaluations)
                    {
                        @if (grade.Value[0] == '1')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: red" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else if (grade.Value[0] == '2')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: coral" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else if (grade.Value[0] == '3')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: darkgoldenrod" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else if (grade.Value[0] == '4')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: mediumpurple" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else if (grade.Value[0] == '5')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: blue" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else if (grade.Value[0] == '6')
                        {
                            <a class="btn btn-outline-primary font-weight-bold" style="color: green" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary font-weight-bold" asp-action="DetailsFromClasses" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        }
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
                {
                    <td>
                        @Html.ActionLink("Add grade", "CreateFromClasses", "Evaluations", new { userId = @thisUser.Id, subjectId = item.SubjectId }, new { @class = "btn btn-outline-success" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("Admin") || User.IsInRole("Nauczyciel"))
{
    <div class="d-flex justify-content-center text-center">
        <div>
            @Html.ActionLink("Back", "ClassStudents", "Classes", new { classId = @thisUser.ClassId }, new { @class = "btn btn-primary" })
        </div>
    </div>
}