@model IEnumerable<Virtual_School_Register.ViewModels.SubjectGradeViewModel>

@{
    ViewData["Title"] = "Grades";
    var thisUser = ViewBag.ThisUser as User;
}

@if (User.IsInRole("Rodzic"))
{
    <h3>
        <b>
            @thisUser.Name
            @thisUser.Surname
        </b>
        grades
    </h3>
    <hr />
}
else
{
    <br />
}

@*<p>
        <a asp-action="Create">Create New</a>
</p>*@

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                Subject
                @*@Html.DisplayNameFor(model => model.SubjectName)*@
            </th>
            <th>
                Grades
                @*@Html.DisplayNameFor(model => model.Evaluations)*@
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @foreach (var grade in item.Evaluations)
                    {
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@grade.EvaluationId">@Html.Raw(grade.Value)</a>
                        <text>&nbsp;&nbsp;</text>
                    }
                </td>
                <td>
                    @*<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.EvaluationId">Details</a>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.EvaluationId">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.EvaluationId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>