@model Virtual_School_Register.Models.Class
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Adding a class"];
    var tutorsList = ViewBag.TutorsList as IEnumerable<User>;
}

<div class="d-flex justify-content-center text-center">
    <div>
        <h1>@Localizer["Add class"]</h1>
        <br />

        <form asp-action="Create" style="width:500px">
            <div class="text-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Name"]</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Content"]</label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Class tutor"]</label>
                    <select asp-for="ClassTutorId" class="form-control">
                        <option value=@(null)>---</option>
                        @foreach (var tutor in tutorsList)
                        {
                            <option value="@tutor.Id">@tutor.Name @tutor.Surname</option>
                        }
                    </select>
                </div>
            </div>
            <br />

            <div>
                <a class="btn btn-primary" asp-action="Index">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<h1>Create</h1>

    <h4>Class</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassTutorId" class="control-label"></label>
                    <select asp-for="ClassTutorId" class="form-control">
                        <option value=@(null)>---</option>
                        @foreach (var tutor in tutorsList)
                        {
                            <option value="@tutor.Id">@tutor.Name @tutor.Surname</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
