@model IEnumerable<Virtual_School_Register.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<p>
    <a class="btn btn-success" asp-action="Create">Create class</a>
</p>
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTutorId)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _class in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => _class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _class.Content)
                </td>
                <td>
                    @if (_class.ClassTutorId == null)
                    {
                        <img src="~/Images/close.png" alt="x" />
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => _class.ClassTutorId)
                    }
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Students" asp-route-id="@_class.ClassId">Students</a>
                    <a class="btn btn-outline-info" asp-action="Subjects" asp-route-id="@_class.ClassId">Subjects</a>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@_class.ClassId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@_class.ClassId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
