@model IEnumerable<Virtual_School_Register.Models.Class>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Classes"];
}

<p class="d-flex justify-content-center">
    <a class="btn btn-success" asp-action="Create">@Localizer["Add class"]</a>
</p>

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Localizer["Class name"]
            </th>
            <th>
                @Localizer["Profile"]
            </th>
            <th>
                @Localizer["Class tutor"]
            </th>
            <th>
                @Localizer["Action"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _class in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => _class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => _class.Content)
                </td>
                <td>
                    @if (_class.ClassTutorId == null)
                    {
                        <img src="~/Images/X.png" alt="x" />
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => _class.ClassTutorId)
                    }
                </td>
                <td>
                    @Html.ActionLink(Localizer["Students"].Value.ToString(), "ClassStudents", "Classes", new { classId = _class.ClassId }, new { @class = "btn btn-outline-info" })
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-warning" asp-action="Students" asp-route-id="@_class.ClassId">@Localizer["Edit students"]</a>
                        <a class="btn btn-outline-warning" asp-action="Subjects" asp-route-id="@_class.ClassId">@Localizer["Edit subjects"]</a>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@_class.ClassId">@Localizer["Edit"]</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@_class.ClassId">@Localizer["Delete"]</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
