@model Virtual_School_Register.Models.Class

@{
    ViewData["Title"] = "Students";
}

<br />
<div>
    <div class="row">
        <h4 class="col-md-3">Class name: @Html.DisplayFor(model => model.Name)</h4>
        <h4 class="col-md-4">@Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)</h4>
        <h4 class="col-md-5">
            @Html.DisplayNameFor(model => model.ClassTutorId):
            @if (Model.ClassTutorId == null)
            {
                <text>---</text>
            }
            else
            {
                @Html.DisplayFor(model => model.ClassTutorId)
            }
        </h4>
    </div>
    <hr />
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <h2>Students list:</h2>
        <br />
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayName("Name")</th>
                    <th>@Html.DisplayName("Surname")</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Virtual_School_Register.Models.User studentInClass in ViewBag.StudentsInClassList)
                {
                    <tr>
                        <td>@Html.DisplayFor(i => studentInClass.Name)</td>
                        <td>@Html.DisplayFor(i => studentInClass.Surname)</td>
                        <td>
                            <a class="btn btn-outline-danger" asp-action="RemoveUserFromClass" asp-route-id="@studentInClass.Id">Remove from class</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h2>Students without class:</h2>
        <br />
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayName("Name")</th>
                    <th>@Html.DisplayName("Surname")</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Virtual_School_Register.Models.User studentWithNoClass in ViewBag.StudentsWithNoClassList)
                {
                    <tr>
                        <td>@Html.DisplayFor(i => studentWithNoClass.Name)</td>
                        <td>@Html.DisplayFor(i => studentWithNoClass.Surname)</td>
                        <td>
                            @Html.ActionLink("Add to class", "AddUserToClass", "Classes", new { id = studentWithNoClass.Id, classId = ViewBag.ClassId }, new { @class = "btn btn-outline-success" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center text-center">
    <div>
        <a class="btn btn-primary" asp-action="Index">Back</a>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ClassId">Edit</a>
    </div>
</div>