@model IEnumerable<Virtual_School_Register.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<br />
<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLesson)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductingLesson.ConductingLessonId)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.LessonId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.LessonId">Delete</a>

                    @*<a asp-action="Edit" asp-route-id="@item.LessonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LessonId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LessonId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
