@model IEnumerable<Virtual_School_Register.Models.Annoucement>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Our school news</h1>
</div>

@foreach (var card in Model)
{
    <br />
    <div class="card border-secondary text-justify">
        <div class="card-header text-info text-center">
            <h5><b>@card.Title</b></h5>
        </div>
        <div class="card-body">
            <p class="card-text">@card.Content</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-md-4">
                    @card.User.Name
                    @card.User.Surname
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                    @card.Date
                </div>
            </div>
        </div>
    </div>
    <br />
}
