@model IEnumerable<Virtual_School_Register.ViewModels.HomeController.HomeIndexViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="text-center">
    <h1>@Localizer["Annoucements"]</h1>
</div>

@foreach (var announcement in Model)
{
    <br />
    <div class="card border-secondary text-justify">
        <div class="card-header text-info text-center">
            <h5><b>@Html.DisplayFor(modelItem => announcement.Title)</b></h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => announcement.Content)</p>
        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-between">
                <div style="margin-left:15px">
                    @Html.DisplayFor(modelItem => announcement.Name)
                    @Html.DisplayFor(modelItem => announcement.Surname)
                </div>
                <div style="margin-right:15px">
                    @Html.DisplayFor(modelItem => announcement.Date)
                </div>
            </div>
        </div>
    </div>
    <br />
}
