@model IEnumerable<Virtual_School_Register.Models.Annoucement>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Our school news</h1>
</div>

@foreach (var announcement in Model)
{
    <br />
    <div class="card border-secondary text-justify">
        <div class="card-header text-info text-center">
            <h5><b>@Html.DisplayFor(modelItem => announcement.Title)</b></h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => announcement.Content)</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => announcement.User.Name)
                    @Html.DisplayFor(modelItem => announcement.User.Surname)
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => announcement.Date)
                </div>
            </div>
        </div>
    </div>
    <br />
}
